
.form input[type=text] {
    padding: 5px 3px;
}

.form button {
    border: 1px solid rgba(200, 200, 200, 1.0);
    border-radius: 5px;
    background: white;
    padding: 3px 10px;
}

.btn.info {
    color: rgb(0, 89, 116);
}

.search {
	width:1400px;
    margin: auto;
    padding: 20px;
}